body {
  font-family: Arial;
  background: floralwhite url(blueback.jpg);no-repeat
  background-size: 100px;
  background-attachment: fixed;
}

p {
  font-size: 18px;
}

h1,
h3 {
  font-family: "Merriweather", serif;
}

.news img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.news {
  margin: 0px 12px;
}

.banner {
  width: 100%;
}

main {
  width: 900px;
  margin: 0px auto 0px auto;
  background-color: wheat;
  border: 3px solid darkblue;
}

section {
  display: flex;
  flex-flow: row wrap;
}

.news a {
  color: blue;
  text-decoration: none;
}
.news a:hover {
  color: black;
}
